

.btn-faqdrop {
    background-color: transparent !important;
    color: #000;
    font-size: 16px;
    line-height: 19.5px;
    text-decoration: none;
}

.faq-hr {
    border: none;
    height: 4px;
    background-color: #57C086;
}

.card-faq-body {
    border: none !important;
    background-color: transparent !important;
}

.faq-header {
    font-size: 48px;
    line-height: 58.51px;
    color: #F45137;
}

.faq-header-small {
    font-size: 30px;
    line-height: 58.51px;
    color: #F45137;
}

.faq-box {
    position: relative; 
}

.rocketContainer{
    position: relative; 
    max-height: 100%;
}

#rocketShip {
    width: 500px;
    height: 500px;
    position: absolute !important;
    bottom: -220px !important;
    left: -80px !important;
    transform: rotate(-6.61deg);
    z-index: 1;
}

.planet-purple {
    width: 430px;
    height: 430px;
    position: absolute !important;
    top: -150px;
    left: 0%;
    z-index: 1;
}

.planet-purple-small {
    width: 230px;
    height: 230px;
    position: absolute !important;
    bottom: -120px;
    left: 20%;
    z-index: 1;
}