.nav-unscrolled {
    position: absolute; /* Cambiar a absolute */
    bottom: 0; /* Alinear al fondo */
    width: 100%; /* Hacer que ocupe todo el ancho */
    z-index: 2;
    height: 130px !important;
    transition: background 0.3s;
    background: linear-gradient(0deg, rgba(246, 215, 158, 0.95) 45.88%, rgba(246, 215, 158, 0) 105.29%) !important;
}

.nav-scrolled {
    /*position: absolute; /* Cambiar a absolute */
    /*bottom: 0; /* Alinear al fondo */
    /*width: 100%; /* Hacer que ocupe todo el ancho */
    transition: background 0.3s;
    z-index: 2;
    background: #7980BB !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-link-normal{
    font-size: 24px !important;
    font-weight: 700 !important;
    line-height: 29.26px;
    color: rgba(29, 29, 94, 1);
}

.nav-link-small {
    font-size: 12px !important;
    font-weight: 700 !important;
    line-height: 29.26px;
    color: rgba(29, 29, 94, 1);
}

.nav-link-scrolled {
    font-size: 15px !important;
    font-weight: 700 !important;
    line-height: 29.26px;
    color: #fff;
}

.nav-link-scrolled-small {
    font-size: 12px !important;
    font-weight: 700 !important;
    line-height: 29.26px;
    color: #fff;
}

.navbar-logo {
    width: 50px; /* Ajusta el tamaño según sea necesario */
}

.btn-success{
    background-color: #57C086 !important;
    color: #fff;
    border: none !important;
}

.btn-whatsapp-lg {
    font-size: 12px !important;
    font-weight: 600 !important;
    min-width: 150px;
}

.navbar-logo {
    width: 50px; /* Ajusta el tamaño según sea necesario */
}

.navbar-toggler {
    border: none; /* Quita los bordes */
    outline: none;
}

.navbar-toggler:focus{
    box-shadow: none; 
}

.navbar-toggler-icon {
    color: #F45137 !important; /* Cambia el color a rojo (puedes usar el color que desees) */
}