.card-service {
    border: none !important;
    border-radius: 0;
    background-color: transparent !important;
}

.card-body {
    padding-left: 0;
    padding-right: 0;
}

.card-text {
    font-size: 16px;
    line-height: 19.5px;
    text-align: start;
}

.services {
    background-color: #F2AC25;
    position: relative; /* Permite posicionar elementos hijos de forma absoluta */
    display: inline-block;
}

.services-small {
    background-color: #F2AC25;
    width: 100% !important;
    padding-top: 100px;
    /*position: relative; /* Permite posicionar elementos hijos de forma absoluta */
    /*display: inline-block;*/
}

.services-header {
    font-size: 48px;
    line-height: 58.51px;
    color: rgba(65, 65, 123, 1);
    font-weight: 900 !important;
}

.services-header-small {
    font-size: 40px;
    line-height: 58.51px;
    color: rgba(65, 65, 123, 1);
    font-weight: 900 !important;
}

.btn-collapse {
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

.rotate-180 {
    transform: rotate(180deg); /* Rota 180 grados */
}

.transition-transform {
    transition: transform 0.5s ease; /* Transición suave */
}