.wwd-box {
    width: 50%;
}

.wwd-title {
    font-size: 48px;
    color: rgba(65, 65, 123, 1);
    font-weight: 900 !important;
}

.wwd-title-small {
    font-size: 38px;
    color: rgba(65, 65, 123, 1);
    font-weight: 900 !important;
}

.wwd-title-2 {
    font-size: 30px;
    color: rgba(65, 65, 123, 1);
    font-weight: 900 !important;
}

.wwd-title-small-2 {
    font-size: 20px;
    color: rgba(65, 65, 123, 1);
    font-weight: 900 !important;
}

.wwd-text {
    font-size: 16px;
    color: #fff;
    line-height: 19.5px;
    margin-left: 109px;
    text-align: left;
}

.wwd-text-small {
    font-size: 16px;
    color: #fff;
    line-height: 19.5px;
    text-align: left !important;
    
}

.text-box {
    background: linear-gradient(180deg, rgba(84, 84, 144, 0) 5.69%, rgba(55, 55, 111, 0.8) 39.02%) !important;
}

.img-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-image: url("../images/wwdImg.png");
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-position: left;
}